*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Test1/nbproject/private/
/Test1/build/
/Scratch/nbproject/private/
/Scratch/build/
/FiniteSet/nbproject/private/
/FiniteSet/build/
/FiniteSet/dist/